<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Wsparcie</title>
</head>
<body>

    <div class="container">
  <div class="row">
    <div class="col-sm-4" style="text-align: center">
        <img alt="Polska Strefa Inwestycji" height="75" src="http://kssse.pl/assets/img/psi.png">
    </div>
    <div class="col-sm-4" style="text-align: center" >
        <img alt="Kostrzyńsko-Słubicka Specjalna Strefa Ekonomiczna S.A."
             height="75" src="http://kssse.pl/assets/img/KSSSE_logo.png">
    </div>
    <div class="col-sm-4" style="text-align: center" >
        <img alt="Invest in the West" height="75" src="http://kssse.pl/assets/img/Invest_in_the_west.png">
    </div>
  </div>
</div>
<br/>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="text-align: center" >Kryterium ilościowe</h1>
    <p class="lead" style="text-align: center" >Zobacz gdzie możesz uzyskać wsparcie w Kostrzyńsko-Słubickiej
        Specjalnej Strefie Ekonomicznej</p>
  </div>
</div>
      <form method="POST" action="/" >
    <!-- POLA FORMULARZY -->
<div class="container">
  <div class="row row-cols-4">

      <!-- KOLUMNA 1 -->
    <div class="col" align="center">


  <div class="form-group" style="width: 8rem; text-align: center">

             <label for="exampleFormControlSelect1">Wybierz walutę</label>
    <select class="form-control" id="exampleFormControlSelect1" name="currency" required>
        <option></option>
      <option>PLN</option>
        <option>EURO</option>
    </select>
  </div>


       <p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
          aria-expanded="false" aria-controls="collapseExample">
    Kurs NBP
  </button>
</p>



        </div>



      <!-- KOLUMNA 2 -->
    <div class="col" align="center">


  <div class="form-group">
    <label for="formGroupExampleInput">Koszty kwalifikowane (w mln)</label>
    <input type="number" step="0.05" class="form-control" style="width: 12rem; text-align: center" id="formGroupExampleInput"
           placeholder="proszę podać w mln" name="value" required>
  </div>

       <p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2"
          aria-expanded="false" aria-controls="collapseExample">
    Definicja
  </button>
</p>

    </div>

      <!-- KOLUMNA 3 -->
    <div class="col" align="center">

  <div class="form-group" style="width: 8rem; text-align: center">

             <label for="exampleFormControlSelect1">Przedsiębiorca</label>
    <select class="form-control" id="exampleFormControlSelect1" name="size" required>
        <option></option>
      <option>duży</option>
        <option>średni</option>
                <option>mały</option>
        <option>mikro</option>
    </select>
  </div>
       <p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample3"
          aria-expanded="false" aria-controls="collapseExample">
    Definicja
  </button>
</p>
    </div>


      <!-- KOLUMNA 4 -->
    <div class="col" align="center">

        <p style="text-align: center"><b>TYLKO</b> działalność B+R i/lub BPO?</p>

        <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="options" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">TAK</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="options" id="inlineRadio2" value="option2" checked>
  <label class="form-check-label" for="inlineRadio2">NIE</label>
</div>
<br/><br/>
       <p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample4"
          aria-expanded="false" aria-controls="collapseExample">
    Definicja
  </button>
</p>
    </div>


    </div>
  </div>
</div>

              <button type="submit" class="btn btn-primary">Policz</button>
      </form>



<div class="container">
    <div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
      keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>

        <div class="collapse" id="collapseExample2">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
      keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>

            <div class="collapse" id="collapseExample3">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
      keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>

                <div class="collapse" id="collapseExample4">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
      keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>

</div>



<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Default radio
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Second default radio
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
  <label class="form-check-label" for="exampleRadios3">
    Disabled radio
  </label>
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">TAK</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">NIE</label>
</div>


{#                {% for k,v in result.items() %}#}
{##}
{#                    <br/>#}
{#          <b>Powiat {{ k }} w gminach:</b><br/>#}
{##}
{#                     {% for i in v %}#}
{#                         {{ i }}#}
{##}
{#{% endfor %}#}
{#{% endfor %}#}


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>